body{
    width: 85%;
    margin: 0 auto; 
    background-color: rgb(30, 40, 62);
    counter-reset: estrofa verso;
}

header {
    margin: 10px 30%;
    font-style: italic;
    text-align: center;
    background-color: #A85F11;
    color: rgb(238, 231, 240);
    
}

h1{
    color: #f0eef3;
    text-align:center;  
}
h2{
    text-align: center;
    color: rgb(96, 47, 117);
}
/*Aqui hace el for antes de las parrafo y me las cuentas*/
h3::before{
    counter-increment: parrafo;
    content: "" counter(parrafo) ": ";
}

h3{
    text-align: center;
    color: rgb(57, 85, 146);
}
p{
    text-align: center;
    color:rgb(176, 84, 65);
}
span{
    color: yellow;
    font-size: italic;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    
}
/*Aqui hace el for antes de las lineas y me las cuentas*/
span::before{
    counter-increment: linea;
    content: "linea " counter(linea) ": ";
}